.terraform/
.tools/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
plans/
.env
.idea/
.vscode/
.DS_Store
Thumbs.db
